/*
My Custom CSS
*/


/* --------------------------------------
   Layout
   -------------------------------------- */

body, #myCarousel, #myThumbnail {
  background-color: rgb(10, 10 ,18);
  text-align: center;
}
.tit{
  color: white;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
img{
  width: 100%;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
  .adj{
    width: 300px;
    height: 400px;
  }
  .navbar-effect {
    box-shadow: 0 0 0px black;
  }


  }

  /* --------------------------------------
   Carousel
   -------------------------------------- */

   #myCarousel {
     margin-top: 60px;
     font-size: 1rem;
   }

   .carousel-caption {
     font-size: 1.5em;
   }

   .carousel-caption h4 {
     font-size: 2em;
   }

   #myCarousel .item {height: 400px;}



/* --------------------------------------
   Jumbotron
   -------------------------------------- */

  #myJumbotron .jumbotron{
    margin-bottom: 0;
  }

  .fixed {
    overflow: hidden;
    height:800px;
    position: relative;
    z-index: 1;
  }

  .fixed:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    will-change: transform;
    background-color: black;
  }



  #myJumbotron .jumbotron h1 {
      color: black;
  }

  #myJumbotron .jumbotron p {
      color: black;
  }

  #myJumbotron .jumbotron small {
      color: lightgray;
  }

/* --------------------------------------
   Thumbnail
   -------------------------------------- */

  #myThumbnail {
    text-align: center;
  }

  #myThumbnail img {
    margin: 10px auto;
    background-color: black;
    box-shadow: 1px 1px 2px #111010;
  }

  @media (max-width: 1200px) {
    #myThumbnail img {
      max-width: 80%;
    }
  }

  .animate1{
    opacity: 0;
  }

  .animate1.fadeInUp{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
  }

  .animate_delay0 {
  }

  .animate_delay1 {
    animation-delay: .3s;
  }

  .animate_delay2 {
    animation-delay: .6s;
  }

  /* --------------------------------------
     Footer
     -------------------------------------- */

  footer {
    background: #333;
    color: #eee;
    font-size: 1px;
    padding:10px;
  }


/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
